body{
    background-image: url("Images/eagle-2657888_1920.jpg");
    background-size: cover;
    width: inherit;
    overflow: hidden;
    background-repeat: no-repeat;
    color: #fff;
}

/*Title*/
#header{
    margin-top: -10px; 
    text-align: center;
    font-size: 5vw;
}

#footer{
    font-size: 3vw;
    position: fixed;
    bottom: 0;
}

/*lap*/
#laps{
    text-align: right;
    font-size: 3vw;
}

#time{
    text-align: right;
    font-size: 5vw;
}

#controls{
    margin-left: 85%; 
}

.control{
    color: white;
    border-radius: 100%;
    height: 5vw;
    width: 5vw;
    background-color: darkorange;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.control:active{
    background-color: #fff;
    color: #d7A04e;
}

#lap{
    max-height: 270px;
    overflow-y: scroll;
}

.laps{
    height: 50px;
    border-bottom: 1px solid white;
    margin: 15px;
}

.laptimetitle{
    float: left;
    font-size: 1.5em;
}

.laptime{
    float: right;
    font-size: 2em;
}

#lapTitle{
    margin-right: 10%;
}

#timeTitle{
    font-size: 0.6em;
    margin-right: 1%;
}